.footer {
  width: 100%;
  min-height: 20rem;

  padding: 3rem;

  &__nav {
    margin-top: 2rem;
  }

  &__nav-list {
    display: grid;
    gap: 1rem;

    text-align: center;
  }

  &__social-list {
    margin-top: 2rem;

    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-img {
    width: 1rem;
    height: auto;
  }

}

