.footer {
  width: 100%;
  min-height: 20rem;

  padding: 3rem;

  &__nav {
    margin-top: 2rem;
  }

  &__nav-list {
    display: grid;
    gap: 1rem;

    text-align: center;
  }

  &__nav-item {
  }
}

.footer {
  background-color: $color-dark-grey;
}
