.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;

  &__socials {
    display: flex;
    gap: 1rem;
  }

  &__img-container {
    @extend %transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__img {
    width: 2rem;
    height: 2rem;
  }

  &__designed-by {
    text-align: center;

    @extend %transition;

    &:hover {
      transform: scale(1.1);
    }
  }
}
