.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 1rem;
  margin-right: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  &__container {
    position: relative;

    width: $container-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 4rem;

    &--map,
    &--gallery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 2rem;
    }

    &--gallery {
      .section__header::after {
        display: none;
      }
    }
  }

  &__text-container {
    &--form .section__paragraph {
      text-align: center;
    }
  }

  &__form-container {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;

    border-radius: 0.25rem;
  }

  &__header {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;

      border-radius: 1.25rem;
      height: 100%;
      opacity: 0.5;
    }
  }

  &__paragraph {
    width: 100%;
    margin-top: 1.5rem;
  }

  &__image {
    width: 100%;
    max-width: 30rem;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }
  
  @include media('>=large') {
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    &__header {
      width: max-content;
      &::after {
        left: 1.25rem;

        height: 1.25rem;
      }
    }

    &__text-container {
      flex: 3;
    }
    &__image-container {
      flex: 2;
    }

    &__container {
      flex-direction: row;

      &--map,
      &--gallery {
        flex-direction: column;
      }
    }
  }
}
