$font-sans-serif: 'Lato', sans-serif;
$font-cursive: 'Courgette', cursive;

$color-yellow: #fcb72b;
$color-dark-navy: #495567;
$color-dark-grey: #333a44;
$color-dim-grey: #939caa;
$color-light-grey: #e5ecf4;
$color-snow: #f2f5f9;
$color-light-yellow: #fff4df;
$color-white: #fff;

$container-width: min(100%, 69.125rem);
