html {
  font-family: $font-sans-serif;
}

*,
:before,
:after {
  font-family: inherit;
  word-wrap: break-word;

  @include media('<small') {
    word-break: break-word;
  }
}

h1 {
  text-align: center;

  font-size: 2rem;
  letter-spacing: 0;
  line-height: 110%;
}

h2 {
  letter-spacing: 0;
  line-height: 100%;

  font-size: 4rem;
  text-align: center;

  @include media('>=medium') {
    font-size: 6rem;
    text-align: left;
  }
}

h2 small {
  font-size: 2rem;
  text-align: center;

  @include media('>=medium') {
    font-size: 4rem;
    text-align: left;
  }
}

h3 {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  line-height: 150%;

  @include media('>=medium') {
    font-size: 1.25rem;
  }
}

a {
  text-decoration: none;
  color: black;
  color: inherit;

  font-weight: 700;

  line-height: 1.5625rem;
  letter-spacing: 0;

  font-size: 1.125rem;

  @include media('>=medium') {
    font-size: 0.9375rem;
  }
}

p,
label {
  font-size: 1.125rem;
  letter-spacing: -1px;
  line-height: 150%;

  text-align: center;

  @include media('>=medium') {
    text-align: left;
  }
}

label {
  font-weight: 400;
}

form,
::placeholder {
  text-align: center;
}

::placeholder {
  font-weight: 300;
}

ul {
  list-style: none;
}

em {
  font-family: $font-cursive;
  font-style: normal;
}

button,
input[type='submit'] {
  font-family: $font-cursive;
  font-weight: 700;

  line-height: 1.5625rem;
  letter-spacing: 0;

  font-size: 1.125rem;

  @include media('>=medium') {
    font-size: 0.9375rem;
  }
}
